span{
    border: 1px solid black;
    background-color: aquamarine;
    height: 90px;
    display: inline;
}

p{
    border: 1px solid black;
    background-color: salmon;
    display: inline-block;
}

.escondido{
    display: none;
}

.bloque0{
    border: 1px solid black;
    height: 200px;
    background-color: aqua;
}

.bloque1{
    border:1px solid black;
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin-top: 10px;
    float:left;
    display: inline-block;
}

.bloque2{
    border:1px solid black;
    width: 500px;
    height: 250px;
    background-color: blueviolet;
    float:right;
    display: inline-block;
}

.bloque3{
    border:1px solid black;
    width: 500px;
    height: 250px;
    background-color: green;
    position: fixed;
    bottom: 200px;
    right: 0 ;
}

.bloque-tamano{
    border:1px solid black;
    background-color: #53477E;
    height: 30vw;
    width: 80vw;
    position: relative;
}

.bloquecito{
    background-color: red;
    height: 300px;
    width: 50%;
}

.absolute{
    position: absolute;
    left:10px;
    bottom: 0px;
}

